{% spaceless %}
    {% macro urlExcel() %}'{{ asset('codebase/grid-excel-php/generate.php')}}'{% endmacro %}

    {% macro combo(curseur,withBlank) %}{% if withBlank %}<option value =""></option>{% endif %}{% for row in curseur %}<option value ="{{row.id}}"{% if row.id==1 %} selected="selected"{% endif %}>{{row.libelle}}</option>{% endfor %}{% endmacro %}

    {% macro bgColor(valide) %}{% if not valide %} bgColor="#FAD9DD"{% endif %}{% endmacro %}

    {% macro locked(isModif) %}{% if not isModif %} locked="true"{% endif %}{% endmacro %}

    {% macro columnAjout(isModif) %}{% if isModif %}<column width="32" type="link" align="center" sort="na"><![CDATA[<a href="#" onclick="addRow()"><img src="{{asset('images/dhtmlx_add.png')}}"></a>]]></column>{% endif %}{% endmacro %}

    {% macro cellSupprime(isModif) %}{% if isModif %}<cell><![CDATA[<a href="#" alt="Supprimer"><img src="{{asset('images/dhtmlx_delete.png')}}"></a>]]></cell>{% endif %}{% endmacro %}

    {% macro lienSupprime() %}<a href="#" alt="Supprimer"><img src="{{asset('images/dhtmlx_delete.png')}}"></a>{% endmacro %}
{% endspaceless %}