{% extends '::dhtmlx_grid.html.twig' %}

{% block title %}Jours fériés{% endblock %}

{% block body %} 
    <div id="flashAlertJourFerie">
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                Vos modifications ont été enregistrées avec succés.
            </div>
    </div>
     <script>
    /* Opérations lancées au chargement de la page */
        $(document).ready(function() {
            // On masque les alertes par défaut
            $('#flashAlertJourFerie .alert').hide();
        });
    </script>
    {% if affiche == false %}
        {# Affichage du bloc des msg et infos supplementaires #}
        <table cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td>
                     <div class="alert alert-info">  <h4><strong>Aucun jour férié n'est enregistré.</strong></h3> </div>
                </td>
            </tr>
            <tr>                                  
                <td text class="link" nowrap="nowrap" >
                     <a  text-align="left" href ="#" class="nyroModal" data-toggle="modal" data-target="#amsModal" onClick="ChargeModal('{{ path('feries_ajout') }}');" onmouseover="affPopoverLien(this);"  data-description="Ajouter un Jour" data-content="Ce lien permet d'ajouter des jours  fériés à la liste .Une fois ajouté dans la liste un bouton permet d'activer ou pas le jour pour qu'il soit pris en compte dans le calendrier.Par défaut à la création le jour est actif." >  
                         <span class="glyphicon glyphicon-save"></span> Ajouter un jour férié
                     </a>      
                </td>
            </tr>
        </table>
    {% else %}
            {# Affichage du bloc des msg et infos supplementaires #}
        <table cellspacing="0" cellpadding="0" width="100%" heigth="50%">
            <tr>
                <td>
                    <div id="infoResFerie" class="alert alert-info" role="alert">Veuillez patientez pendant le chargement de la liste...</div>
                </td>
            </tr>
            <tr>                                  
                <td text class="link" nowrap="nowrap" >
                     <a text-align="left" href ="#"   class="nyroModal" data-toggle="modal" data-target="#amsModal" onClick="ChargeModal('{{ path('feries_ajout') }}');" onmouseover="affPopoverLien(this);" data-description="Rajouter un Jour" data-content="Ce lien permet de rajouter des jours fériés à la liste .Une fois rajouté dans la liste un bouton permet d'activer ou pas le jour pour qu'il soit pris en compte dans le calendrier.Par défaut à la création le jour est actif." >
                         <span class="glyphicon glyphicon-save"></span> Ajouter un jour férié
                     </a>      
                </td>
            </tr>
        </table>
            {# Affichage de la grid #}
        <div  style='position:relative; height:700px; width:100%;'>
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <div id="gridbox"  style="width:100%; height:500px; background-color:white;overflow:hidden"></div>
                        <div id="cover" style='width:500px; font-size:20pt; text-align:center; font-family:Tahoma; position:absolute; top:50px; left:100px; height:150px; width:500px; background-color:silver; opacity:0.3; -moz-opacity:0.3; filter:alpha(opacity=30);'>
                            Chargement ...
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="recinfoArea"></div>
                    </td>
                </tr>
            </table>  
        </div>

        <script>
            /** Initialisation  */
            gridFerie = new dhtmlXGridObject('gridbox');
            gridFerie.setImagePath("{{dhtmlx_img }}");

            gridFerie.setHeader("Jour Férié, Date, Traitement");
            gridFerie.attachHeader("#select_filter,#select_filter");
            gridFerie.setInitWidths("650,650,70");
            //gridFerie.setColAlign("center");
            gridFerie.init();

            gridFerie.attachEvent("onXLS", function() {
                document.getElementById('cover').style.display = 'block';
            });
            gridFerie.attachEvent("onXLE", function() {
                document.getElementById('cover').style.display = 'none';
                var res = "Liste des jours Fériés <strong>( " + gridFerie.getRowsNum() + " )</strong>";
                $('#infoResFerie').html(res);
            });

            gridFerie.setSkin("dhx_skyblue");
            gridFerie.enableSmartRendering(true);

            /** pagination */
            gridFerie.enablePaging(true, 20, 3, "recinfoArea");
            gridFerie.setPagingSkin("toolbar", "dhx_skyblue");

            // pour desactiver la generation automatique d'infos bulles
            gridFerie.enableTooltips("false");

            gridFerie.loadXML("{{path('feries_grid_xml')}}");
            
            
            /** Activation ou desactivation d'un jour */
            function changeStatut(route) {
                console.log(route);
                $.ajax({
                    url: route,
                    type: "GET",
                    success: function(data, statut) {
                       console.log(statut);
                       //showSelecteurFlashAlert('flashAlertJourFerie', data.etat, data.msg, 5000);
                       gridFerie.loadXML("{{path('feries_grid_xml')}}");
                    },
                    error: function(data, statut) {
                       console.log(statut);
                    }
                });
                
            }
        </script>
    {% endif %}
{% endblock %}
