{% extends app.request.xmlHttpRequest 
			? 'AmsSilogBundle::gabarit_base_ajax.html.twig'
			: 'AmsSilogBundle::gabarit_base.html.twig' %}

{% block title %}Profils{% endblock %}

{% block body %}
	{% if app.request.xmlHttpRequest %}	
		{{ grid(grid, 'AmsSilogBundle:Grid:grid_base_js.jquery.html.twig') }}
	{% else %}
		<div class="bloc">
		<table cellspacing="0" cellpadding="0" width="100%">
			<tr>
				<td rowspan="{% if app.session.flashbag.has('notice')==true %}3{% else %}2{% endif %}" class="border"><img src="{{ asset('images/trans.png') }}" width="10" height="1"></td>
				<td class="title">
					<table cellspacing="0" cellpadding="0" width="100%">
						<tr>
							<td class="full title">Liste des profils ({{ grid_pager_totalcount(grid) }})</td>
							<td class="link" nowrap="nowrap">
                                                             <a  href = "" data-toggle="modal"   class="nyroModal" data-target="#amsModal" onClick="ChargeModal('{{ path('admin_ajout_profil') }}');" > Ajouter un profil</a>      
                                                        </td>
						</tr>
					</table>
				</td>
			</tr>
			{% if app.session.flashbag.has('notice')==true %}
			<tr>
				<td class="center error">
					{% for flashMessage in app.session.flashbag.get('notice') %}
						{{ flashMessage }}
					{% endfor %}
				</td>
			</tr>
			{% endif %}
			<tr>
				<td class="content">
					{{ grid(grid, 'AmsSilogBundle:Grid:grid_base_js.jquery.html.twig') }}
				</td>
			</tr>
		</table>
		</div>
		
	{% endif %}


{% endblock %}