{% extends '::dhtmlx_grid.html.twig' %}
{% import 'AmsAdresseBundle:DhtmlxGrid:macros.html.twig' as m %}
{% block title %}Compte Rendu de Distibution des Dépôts{% endblock %}

{% block body %}
  <style>
    input[type="date"] {line-height: 16px;}
    select{width:100px}
  </style>
<h3>Saisie Compte Rendu de Distibution des Dépôts </h3>

<div class='well'>
    <form method="post" name="formFiltre" id="formFiltre" action="">
        <table>
            <tr>
                <td>

                    {{ form_label(form.filtre) }}&nbsp;&nbsp;{{ form_widget(form.filtre, {'value': affichage_date}) }} &nbsp;&nbsp;
                    {{ form_label(form.flux) }}&nbsp;&nbsp;{{ form_widget(form.flux , {'value': flux}) }}
  			
                </td>
                <td>
                    &nbsp;&nbsp;<button type="submit" class="btn btn-primary btn-xs" > <i class="glyphicon glyphicon-search white"></i> Rechercher </button>  
                </td>
                <td>
                    &nbsp;&nbsp;
                    <img id="excel" style="cursor:pointer;height:20px;" src="{{ asset('images/excel.png') }}" 
                             alt="Imprimer"/> 
                </td>
            </tr>   
       </table>
    </form>
</div>  

<div  style='position:relative; height:700px; width:100%;' id="grid-distribution">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <div id="gridbox"  class="grid-distrib" style="width:100%; height:500px!important; background-color:white;overflow:hidden"></div>
                 <div id="cover" style='width:500px; font-size:20pt; text-align:center; font-family:Tahoma; position:absolute; top:50px; left:100px; height:150px; widht:500px; background-color:silver; opacity:0.3; -moz-opacity:0.3; filter:alpha(opacity=30);'>
                         Chargement ...
                  </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="recinfoArea"></div>
            </td>
        </tr>
    </table>  
</div>
<script>



    $.datepicker.setDefaults( $.datepicker.regional[ "fr" ] );
    $("form input.date").datepicker({
         dateFormat: 'yy-mm-dd', 
         firstDay:1,
       //  maxDate: new Date(),
     }).attr("readonly","readonly");
    
    grid = new dhtmlXGridObject('gridbox');
    grid.setHeader("Code Tournée par centre,Centre,Réclam,Retard / Non Liv.,Type incident,Nb ab/diff Non Livré,#cspan,Heure fin de tournée,Commentaire incident Abonné,Commentaire incident Diffuseur,Villes");

    grid.attachHeader(["#rspan","#rspan","#rspan","#rspan","#rspan","Abo","Diff","#rspan","#rspan","#rspan","#rspan"]);
    grid.attachHeader("#text_filter,#text_filter,#text_filter,#select_filter,#select_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter");
   // grid.setColAlign("center,center,center,center,center,center,center,center")
    grid.setColTypes("ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro");
    grid.setColumnHidden(1,true);
 
    grid.enableRowspan(true);
    grid.enableColSpan(true);
    grid.setImagePath("{{dhtmlx_img}}");
    grid.setInitWidths("290,1,70,110,180,80,80,120,200,200,300");
   /* grid.customGroupFormat=function(text,count){
        return "Grouped by "+text+", there are "+count+" related records"
    };*/
 
    grid.init();
    grid.setColumnId(10,"villes");
    grid.setRowTextStyle("villes", "background-color: red; font-family: arial;");


    
    grid.attachEvent("onXLS", function() {
        document.getElementById('cover').style.display = 'block';
    });

    grid.attachEvent("onXLE", function() {
        document.getElementById('cover').style.display = 'none';
       
    });

    
    grid.setSkin("dhx_skyblue");
    // grid.enableSmartRendering(true);
    
    /** Pagination */
   // grid.enablePaging(true, 50, 0, "recinfoArea");
    //grid.setPagingSkin("toolbar", "dhx_skyblue");

    grid.loadXML("{{path('compte_rendu_distribution', { 'date': affichage_date ,'flux': flux})}}", function(){
        var count = grid.getRowsNum();
        if(count > 1 ){
            grid.groupBy(1);
            grid.collapseAllGroups();  
        }
     

    });
    
    $('body').delegate('#excel', 'click', function() {
        grid.expandAllGroups();
        grid.insertColumn(0);
        var count = grid.getRowsNum();
        var rowAdded = 0;
        for(i = 1; i < count ; i++){
            if(grid.cellByIndex(i,1).getValue().toString().substring(0,3) != grid.cellByIndex(i-1,1).getValue().toString().substring(0,3)){
                grid.addRow("id"+i,"",i);
                i++;
                rowAdded++;
                grid.addRow("id"+i,"",i);
                i++;
                rowAdded++;
            }
        }
            if(count  >= 1 ){
                for (i = 1; i < 11; i++)
                {
                    for(j = 0; j < count + rowAdded; j++)
                    {
                        grid.cellByIndex(j,0).cell.innerHTML = grid.cellByIndex(j,2).getValue().toString() ;
                    }                    
                }
            }
        grid.toExcel({{m.urlExcel()}},'color',true);
        for(i = 1; i < count ; i++){
            grid.deleteRow("id"+i);
        }
        grid.deleteColumn(0); 
        grid.collapseAllGroups(); 
    });
       
</script>
{% endblock %}
